@import './colors.scss';

body {
  color: $primary;
}

a {
  text-decoration: none;
  color: $white;
  &.primary {
    color: $primary;
  }
  &:visited {
    color: $white;
  }
  &:hover {
    color: $secondary;
  }
}

address {
  font-style: normal;
}