.bio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: wrap;
  .content {
    width: 75%;
  }
  .photo {
    width: 23%;
    margin-right: 10px;
  }
  .linda {
    max-width: 180px;
    max-height: 257px;
  }
}