@import '../../styles/colors.scss';

.footer {
  padding: 50px 100px;
  display: flex;
  flex-flow: wrap;
  background: $block;
  margin: 0;
  justify-content: space-between;
  .section {
    margin-bottom: 1.5em;
    &.clear {
      display: flex;
      flex-flow: wrap;
      flex-basis: 100%;
      justify-content: space-between;
    }
  }
  p {
    margin: 0;
  }
}